---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";

type Item = {
  title: string;
  body: string;
  href: string;
  id: number;
};

export const items: Item[] = [
  {
    title: "test1",
    body: "test1.",
    href: "items/1",
    id: 1,
  },
  {
    title: "test2",
    body: "test2.",
    href: "items/2",
    id: 2,
  },
  {
    title: "test3",
    body: "test3.",
    href: "items/3",
    id: 3,
  },
  {
    title: "test4",
    body: "test4.",
    href: "items/4",
    id: 4,
  },
  {
    title: "test5",
    body: "test5.",
    href: "items/5",
    id: 5,
  },
  {
    title: "test6",
    body: "test6.",
    href: "items/6",
    id: 6,
  },
];
---

<Layout title="商品一覧" heading="商品一覧">
  <div class="w-5/6 mx-auto">
    <ul class="grid grid-cols-3 gap-x-4 gap-y-8">
      {
        items.map((item) => (
          <li>
            <Card
              title={item.title}
              body={item.body}
              href={item.href}
              id={item.id}
            />
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
